In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

MAX_ROWS = 10
pd.set_option('display.max_rows', MAX_ROWS)
pd.set_option('display.max_columns', 200)
 
sns.set_style("whitegrid")
sns.set_context("paper")

plt.rcParams['figure.figsize'] = (12,5)

In [3]:
#demografia
demo = pd.read_csv('../datasets/demografia.csv')
cierre = pd.read_csv('../datasets/cierre.csv')
#apertura
ap = pd.read_csv('../datasets/apertura.csv')
rubros = pd.read_csv('../datasets/rubros.csv')
zonas = pd.read_csv('../datasets/zonas.csv')

#secciones catastrales
sc = pd.read_csv('../datasets/secciones-catastrales.csv')
#distrito economico
de = pd.read_csv('../datasets/distritos-economicos.csv')
#empresas del distrito de diseño
dd = pd.read_csv('../datasets/empresas-del-distrito-del-diseno.csv')

In [4]:
#distrito tecnologico
dt = pd.read_csv('../datasets/empresas-del-distrito-tecnologico.csv')
da = pd.read_csv('../datasets/espacios-del-distrito-de-las-artes.csv')
dav = pd.read_csv('../datasets/registro-de-empresas-audiovisuales.csv')

In [5]:
de.columns

Index(['WKT', 'id', 'nombre', 'barrios', 'objeto', 'superficie', 'hectareas'], dtype='object')

In [6]:
de.head()

,WKT,id,nombre,barrios,objeto,superficie,hectareas
0,MULTIPOLYGON (((-58.4240351760277 -34.66205522...,5,DISTRITO DEL DEPORTE,VILLA SOLDATI - VILLA LUGANO - VILLA RIACHUELO,DISTRITO,19340000.0,1934
1,MULTIPOLYGON (((-58.4164949396546 -34.65725687...,4,DISTRITO TECNOLOGICO,NUEVA POMPEYA - PARQUE PATRICIOS - BOEDO,DISTRITO,3278000.0,328
2,MULTIPOLYGON (((-58.4390515230091 -34.57614119...,3,DISTRITO AUDIOVISUAL,PATERNAL - VILLA ORTUZAR - CHACARITA - COLEGIA...,DISTRITO,9243000.0,924
3,MULTIPOLYGON (((-58.367648836326 -34.650136616...,2,DISTRITO DE LAS ARTES,BARRACAS - SAN TELMO - LA BOCA,DISTRITO,4294000.0,429
4,MULTIPOLYGON (((-58.367648836326 -34.650136616...,1,DISTRITO DE DISEÑO,BARRACAS,DISTRITO,3038000.0,304

In [7]:
print("El dataset que vamos a trabajar aquí tiene {} observaciones".format(de.shape[0]))

El dataset que vamos a trabajar aquí tiene 5 observaciones

In [8]:
print(de.shape)
de.head(10)
tipos = list(de["nombre"].unique())
print('tipos de distrito: %s\n' % tipos)

(5, 7)
tipos de distrito: ['DISTRITO DEL DEPORTE', 'DISTRITO TECNOLOGICO', 'DISTRITO AUDIOVISUAL', 'DISTRITO DE LAS ARTES', 'DISTRITO DE DISEÑO']

In [9]:
print("El dataset que vamos a trabajar aquí tiene {} observaciones".format(dd.shape[0]))

El dataset que vamos a trabajar aquí tiene 36 observaciones

In [10]:
print(dd.shape)
dd.head(5)

(36, 21)

,long,lat,id,nombre,tipo,tipo_norma,categoria,categoria2,subcategoria,descripcion,calle,altura,piso_dpto,calle2,contacto,web,telefono,barrio,comuna,codigo_postal,codigo_postal_argentino
0,-58.378817,-34.642360,1,Aretha,PRODUCTO,producto,Indumentaria,indumentaria,Ropa interior,"Fabricación, diseño y distribución de ropa int...",OLAVARRIA,2043,NaN,NaN,arielar@aretha.com.ar,http://www.aretha.com.ar/,NaN,Barracas,Comuna 4,1288,C1288ACC
1,-58.371321,-34.639735,2,ALPARGATAS,PRODUCTO,producto,Indumentaria,indumentaria,Ropa en Gral.,"Fabricación, diseño y distribución de ropa par...",Azara,841,NaN,NaN,info@alpargatas.com.ar,www.alpargatas.com.ar,4124-2471,Barracas,Comuna 4,1267,C1267ABQ
2,-58.374280,-34.651212,3,BILLABONG (TARCO S.A.),PRODUCTO,producto,Indumentaria,indumentaria,Ropa Deportiva,"Fabricación, diseño y distribución de ropa par...",Herrera,2145,NaN,NaN,info@billabong.com,www.billabong.com,4309-9300,Barracas,Comuna 4,1295,C1295ACO
3,-58.384287,-34.649234,4,EDITORIAL PERFIL,PRODUCTO,producto,Editorial,editorial,Diario,Medio de comunicación (diario),California,2715,NaN,NaN,suscripciones@perfil.com,www.perfil.com,5985-4805,Barracas,Comuna 4,1289,C1289ABI
4,-58.378531,-34.642633,5,ARETHA (Hinck S.A.),PRODUCTO,producto,Indumentaria,indumentaria,Ropa interior,"Fabricación, diseño y distribución de ropa int...",Olavarría,2042,NaN,NaN,contaduria@aretha.net,www.aretha.com.ar,4301-6601,Barracas,Comuna 4,1288,C1288ACD

In [11]:
dd['comuna'].values

array(['Comuna 4', 'Comuna 4', 'Comuna 4', 'Comuna 4', 'Comuna 4',
       'Comuna 4', 'Comuna 4', 'Comuna 4', 'Comuna 4', 'Comuna 4',
       'Comuna 4', 'Comuna 4', 'Comuna 4', 'Comuna 4', 'Comuna 4',
       'Comuna 4', 'Comuna 4', 'Comuna 4', 'Comuna 4', 'Comuna 4',
       'Comuna 4', 'Comuna 4', 'Comuna 4', 'Comuna 4', 'Comuna 4',
       'Comuna 4', 'Comuna 4', 'Comuna 4', 'Comuna 4', 'Comuna 4',
       'Comuna 4', 'Comuna 4', 'Comuna 4', 'Comuna 4', 'Comuna 4',
       'Comuna 4'], dtype=object)

In [12]:
tipos = list(dd["tipo"].unique())
print('tipos de comercio: %s\n' % tipos)

print('cantidad de valores: %i\n' % len(dd))

tipos de comercio: ['PRODUCTO', 'SERVICIO']

cantidad de valores: 36

In [13]:
filtro_tipos = ['PRODUCTO']
df_filtered =  dd[dd.tipo.isin(filtro_tipos)]

In [14]:
df_filtered['tipo'].values

array(['PRODUCTO', 'PRODUCTO', 'PRODUCTO', 'PRODUCTO', 'PRODUCTO',
       'PRODUCTO', 'PRODUCTO', 'PRODUCTO', 'PRODUCTO', 'PRODUCTO',
       'PRODUCTO', 'PRODUCTO', 'PRODUCTO', 'PRODUCTO', 'PRODUCTO',
       'PRODUCTO', 'PRODUCTO', 'PRODUCTO', 'PRODUCTO', 'PRODUCTO',
       'PRODUCTO', 'PRODUCTO', 'PRODUCTO', 'PRODUCTO', 'PRODUCTO',
       'PRODUCTO', 'PRODUCTO', 'PRODUCTO', 'PRODUCTO', 'PRODUCTO',
       'PRODUCTO'], dtype=object)

In [15]:
print('cantidad de valores: %i\n' % len(df_filtered))

cantidad de valores: 31

In [16]:
tipos = list(dd["categoria"].unique())
print('tipos de categorias: %s\n' % tipos)

tipos de categorias: ['Indumentaria', 'Editorial', 'Mobiliario', 'Imprenta', 'Textil', 'Serv. Diseño', 'Gráfica', 'Materiales']

In [17]:
filtro_tipos = ['Editorial','Imprenta','Textil','Gráfica','Materiales']
df_tipos =  df_filtered[df_filtered.categoria.isin(filtro_tipos)]

In [18]:
len(df_tipos)

16

df_tipos.to_csv('locales-distrito-de-las-artes.csv')

In [19]:
rubros.head(10)

,MOC_RUBROS_ID,MOC_ZONAS_ID,RUBRO,NIVEL_RIESGO,FACTURACION_PROM_ACTUAL,INDICE_CRECIMIENTO,INDICE_ESTABILIDAD,INDICE_APERTURA,INDICE_CIERRE,INDICE_SUPERVIVENCIA,IND_AP_ACT_VS_IND_AP_ANIO_ANT,IND_CL_ACT_VS_IND_CL_ANIO_ANT,SUP_MENOS_1,SUP_ENTRE_1_Y_2,SUP_ENTRE_2_Y_3,SUP_ENTRE_3_Y_4,SUP_ENTRE_4_Y_5,SUP_MAS_5,FACTURACION_PROM_ANIO_ANT,NIVEL_LOCALES,INDICE_CIERRE_ANIO_ANT,INDICE_APERTURA_ANIO_ANT
0,1,1,INSUMOS PARA EL HOGAR,5.0,1.0,3.0,1.0,0.0,16.67,0.0,-100.0,0.0,0.0,10.00,45.00,15.00,0.00,30.00,2.0,1.0,16.67,16.67
1,2,2,INSUMOS PARA EL HOGAR,NaN,NaN,NaN,NaN,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3,INSUMOS PARA EL HOGAR,1.0,4.0,4.0,2.0,0.0,0.00,100.0,-100.0,NaN,0.0,18.18,27.27,27.27,27.27,0.00,4.0,1.0,NaN,33.33
3,4,4,INSUMOS PARA EL HOGAR,1.0,2.0,4.0,4.0,0.0,0.00,100.0,NaN,NaN,0.0,0.00,0.00,14.29,0.00,85.71,3.0,1.0,NaN,NaN
4,5,5,INSUMOS PARA EL HOGAR,NaN,NaN,NaN,NaN,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,6,INSUMOS PARA EL HOGAR,4.0,5.0,4.0,5.0,0.0,0.00,0.0,NaN,-100.0,0.0,18.18,0.00,0.00,0.00,81.82,5.0,1.0,33.33,NaN
6,7,7,INSUMOS PARA EL HOGAR,1.0,5.0,4.0,5.0,0.0,0.00,NaN,-100.0,NaN,0.0,11.11,0.00,0.00,0.00,88.89,5.0,1.0,NaN,16.67
7,8,8,INSUMOS PARA EL HOGAR,NaN,NaN,NaN,NaN,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,9,INSUMOS PARA EL HOGAR,1.0,5.0,4.0,4.0,0.0,0.00,100.0,-100.0,NaN,0.0,14.29,21.43,3.57,0.00,60.71,5.0,1.0,NaN,20.00
9,10,10,INSUMOS PARA EL HOGAR,4.0,5.0,4.0,4.0,0.0,0.00,0.0,NaN,-100.0,0.0,0.00,40.00,0.00,0.00,60.00,5.0,1.0,100.00,NaN

In [20]:
rubros.columns

Index(['MOC_RUBROS_ID', 'MOC_ZONAS_ID', 'RUBRO', 'NIVEL_RIESGO',
       'FACTURACION_PROM_ACTUAL', 'INDICE_CRECIMIENTO', 'INDICE_ESTABILIDAD',
       'INDICE_APERTURA', 'INDICE_CIERRE', 'INDICE_SUPERVIVENCIA',
       'IND_AP_ACT_VS_IND_AP_ANIO_ANT', 'IND_CL_ACT_VS_IND_CL_ANIO_ANT',
       'SUP_MENOS_1', 'SUP_ENTRE_1_Y_2', 'SUP_ENTRE_2_Y_3', 'SUP_ENTRE_3_Y_4',
       'SUP_ENTRE_4_Y_5', 'SUP_MAS_5', 'FACTURACION_PROM_ANIO_ANT',
       'NIVEL_LOCALES', 'INDICE_CIERRE_ANIO_ANT', 'INDICE_APERTURA_ANIO_ANT'],
      dtype='object')

In [21]:
tipos = list(rubros['INDICE_APERTURA_ANIO_ANT'].unique())
print('tipos de categorias: %s\n' % tipos)

tipos de categorias: [16.67, nan, 33.33, 20.0, 100.0, 25.0, 50.0, 11.76, 28.57, 11.11, 10.0, 14.29, 9.09, 12.5, 10.87, 17.24, 7.14, 40.0, 42.86, 66.67, 6.25, 27.27, 31.25, 15.38, 36.36, 35.71, 30.0, 18.18, 23.81, 23.08, 80.0, 18.42, 22.22, 2.63, 23.53, 6.67, 35.0, 13.33, 10.53, 17.65, 8.7, 15.0, 9.76, 14.0, 21.05, 32.14, 12.0, 21.43, 11.63, 10.71, 13.04, 18.75, 13.64, 19.51, 8.11, 8.79, 7.69, 5.88, 17.39, 9.18, 11.54, 10.34, 16.0, 8.33, 12.9, 11.43, 46.15, 37.5, 44.44, 15.63, 4.55, 29.41, 5.56, 3.28, 30.77, 26.67, 2.13, 24.0, 35.29, 47.06, 20.59, 16.98, 14.71, 20.93, 27.78, 18.6, 28.0, 46.67, 18.92, 17.86, 34.78, 38.89, 4.0, 6.06, 19.44, 27.59, 18.63, 41.67, 31.43, 31.58, 15.48, 37.04, 55.56, 4.35, 20.34, 3.23, 11.36, 16.28, 14.14, 7.26, 4.76, 12.31, 5.0, 17.07, 4.26, 17.14, 14.81, 16.18, 12.73, 7.52, 10.78, 12.35, 12.17, 18.52, 13.4, 21.74, 21.54, 15.91, 14.43, 13.59, 17.02, 11.86, 21.33, 13.51, 15.25, 12.12, 16.07, 7.41, 12.99, 13.21, 5.26, 19.35, 38.1, 20.77, 18.87, 20.37, 16.33, 10.81, 12.71, 8.21, 21.28, 15.53, 15.87, 3.45, 17.95, 18.97, 13.08, 16.22, 13.95, 16.77, 11.59, 8.82, 3.7, 3.85, 15.79, 6.45, 13.16, 6.9, 8.0, 6.82, 16.13, 13.79, 5.41, 9.52, 2.86, 9.78, 5.33, 2.78, 23.68, 7.89, 14.58, 13.46, 12.96, 5.77, 22.45, 21.62, 3.03, 3.13, 8.89, 22.73, 26.47, 6.34, 9.73, 3.33, 45.45, 26.32, 41.18, 20.69, 4.88, 10.29, 200.0, 20.83, 8.77, 15.15, 19.05, 26.92, 29.63, 38.46, 22.54, 25.93, 8.93, 9.68, 5.71, 20.51, 2.38, 8.57, 3.57, 3.08, 8.22, 8.47, 10.2, 6.12, 21.21, 15.69, 4.08, 10.19, 6.01, 7.32, 5.32, 6.35, 16.36, 21.88, 6.78, 15.56, 9.8, 7.46, 21.13, 13.75, 12.82, 10.75, 21.15, 5.66, 10.84, 9.23, 14.63, 8.51, 9.38, 7.81, 12.2, 10.62, 5.29, 16.92, 17.31, 13.85, 31.82, 16.95, 53.85, 75.0, 54.55, 13.89, 58.33, 57.14, 29.73, 11.29, 9.59, 10.26, 24.14, 4.17, 8.43, 2.7, 25.45, 17.5, 2.94, 10.42, 30.43, 22.5, 26.09, 9.91, 7.5, 19.23, 9.3, 9.26, 13.71, 21.67, 14.75, 13.1, 17.89, 20.24, 14.55, 10.96, 6.52, 22.58, 10.08, 15.07, 6.98, 19.09, 9.71, 15.24, 17.54, 15.97, 8.97, 9.62, 15.51, 21.98, 10.85, 16.55, 22.64, 19.16, 12.86, 11.67, 13.38, 6.15, 12.03, 25.29, 7.95, 12.63, 26.39, 10.91, 14.02, 13.24, 7.65, 11.06, 15.04, 5.6, 5.95, 22.86, 8.87, 16.9, 13.01, 10.59, 8.49, 17.53, 16.54, 6.02, 14.16, 60.0]

In [22]:
dt.head()

,long,lat,id,nombre,sector,origen,grado_de_a,fecha_de_i,año_de_i,mes_de_i,jurisdicci,calle,altura,piso_dpto,calle2,barrio,comuna,codigo_postal,codigo_postal_argentino
0,-58.409102,-34.646783,1,STAR X,HARDWARE,Nacional,En Operación,ene-12,2012,01,CABA,PEPIRI,758,NaN,NaN,Parque Patricios,Comuna 4,1437.0,C1437EIP
1,-58.395904,-34.642571,2,IRON MOUNTAIN,BPO,Extranjero,En Operación,Previo Ley 2972,Previo Ley 2972,Previo Ley 2972,CABA,AMANCIO ALCORTA,2482,NaN,NaN,Parque Patricios,Comuna 4,1283.0,C1283AAX
2,-58.390455,-34.636763,3,TATA,BPO,Extranjero,En Operación,sep-09,2009,09,CABA,USPALLATA,2034,NaN,NaN,Parque Patricios,Comuna 4,1282.0,C1282AEJ
3,-58.404719,-34.634662,4,IBC ARGENTINA,SOFTWARE,Nacional,En Operación,nov-09,2009,11,CABA,CATULO CASTILLO,2930,PB 5,NaN,Parque Patricios,Comuna 4,1261.0,C1261ACN
4,-58.409588,-34.635697,5,CZYNE,SOFTWARE,Nacional,En Operación,nov-09,2009,11,CABA,CATULO CASTILLO,3230,Piso 2 of 22,NaN,Parque Patricios,Comuna 4,1261.0,C1261ACT

In [23]:
tipos = list(dt['grado_de_a'].unique())
print('Grado de acción: %s\n' % tipos)

Grado de acción: ['En Operación', 'En Obra']

In [24]:
tipos = list(dt['barrio'].unique())
print('Barrios: %s\n' % tipos)

Barrios: ['Parque Patricios', 'Boedo', 'Nueva Pompeya']

In [25]:
print('cantidad de valores: %i\n' % len(dt))

cantidad de valores: 306

In [26]:
tipos = list(dt['sector'].unique())
print('Sectores: %s\n' % tipos)

Sectores: ['HARDWARE', 'BPO', 'SOFTWARE', 'DATA CENTER', 'e-COMMERCE', 'EDUCACION', 'INGENIERIA', 'DOMOTICA']

In [27]:
da.head()

,long,lat,id,nombre,rubro_categoria,web_o_rrss,domicilio_normalizado,calle_nombre,calle_altura,barrio,comuna,codigo_postal,codigo_postal_argentino
0,-58.356811,-34.637493,1,Boca de Fuego | MUNAR,Estudios y residencias,https://artemunar.com.ar/,DON PEDRO DE MENDOZA AV. 1555,DON PEDRO DE MENDOZA AV.,1555.0,La Boca,Comuna 4,1156.0,C1156ADC
1,-58.357751,-34.630630,2,Casa Suiza de La Boca,Estudios y residencias,https://www.instagram.com/casa_suiza_de_la_boca,"CAFFARENA, AGUSTIN R. 192","CAFFARENA, AGUSTIN R.",192.0,La Boca,Comuna 4,1157.0,C1157ADD
2,-58.374810,-34.625542,3,Casa Zur,Estudios y residencias,NaN,BRASIL 675,BRASIL,NaN,NaN,NaN,NaN,NaN
3,-58.362212,-34.641334,4,LaBoca783,Estudios y residencias,NaN,"QUINQUELA MARTIN, BENITO 783","QUINQUELA MARTIN, BENITO",783.0,La Boca,Comuna 4,1167.0,C1167AEA
4,-58.354882,-34.629264,5,MARCO Arte Foco,Estudios y residencias,http://www.fundaciontrespinos.org/programamarc...,"DON PEDRO DE MENDOZA AV. y VILLAFAÑE, WENCESLAO",DON PEDRO DE MENDOZA AV.,NaN,NaN,NaN,NaN,NaN

In [28]:
tipos = list(da['rubro_categoria'].unique())
print('Rubros: %s\n' % tipos)

Rubros: ['Estudios y residencias', 'Galerías', 'Espacios culturales', 'Fundaciones culturales', 'Museos', 'Música, danza y teatro', 'Instituciones', 'Instituciones Educativas e Investigación']

In [29]:
dav.head()

,long,lat,id,nombre,rubro,telefono,e_mail,web,calle,altura,piso_dpto,cruce,barrio,comuna,codigo_postal,codigo_postal_argentino
0,-58.467473,-34.581963,115,Santiago Camarda (Ay Comunicaciòn),productor,153 31686880,santiago@manoso.net,www.manoso.net,Plaza,1076,Of. 2,NaN,Villa Ortuzar,Comuna 15,1427.0,C1427CVH
1,-58.448108,-34.589218,1,100 Bares Producciones S.A.,Cine,48560111,info@100bares.com,www.100bares.com,Juan Gregorio Lemos,160,NaN,NaN,Chacarita,Comuna 15,1427.0,C1427BQD
2,-58.440307,-34.589911,3,48 m2 S.A. / Argentina Cine,Publicidad,48580066,info@argentinacine.com,www.argentinacine.com,Darwin,1154,1° E,NaN,Villa Crespo,Comuna 15,1414.0,C1414CUX
3,-58.435609,-34.582941,4,Aguirre Films,Publicidad,47775213,info@aguirrefilms.com.ar,www.aguirrefilms.com.ar,El Salvador,5635,NaN,NaN,Palermo,Comuna 14,1414.0,C1414BQE
4,-58.440809,-34.586572,5,"Akerman, Stephen Arnold",Productor,47717776,info@ladransanchofilms.com,www.ladransanchofilms.com,Bonpland,1343,1° C,NaN,Palermo,Comuna 14,1414.0,C1414CMM

In [30]:
tipos = list(dav['rubro'].unique())
print('cantidad de valores: %i\n' % len(dav))
print('Rubros: %s\n' % tipos)

cantidad de valores: 221

Rubros: ['productor', 'Cine', 'Publicidad', 'Productor', 'Sonido', 'Televisión', 'Alquiler de Equipos', 'Distribución', 'Documental', 'Pos Producción', 'Cine Publicitario', 'Servicios de producción', 'Investigación y Auditorías de Contenido', 'Cine y Televisión', 'Dirección', 'Servicios Informáticos', 'Laboratorio', 'Estudio de Filmación', 'Televisión / Publicidad', 'Post Producc de sonido', 'Música para comerciales', 'Escenografía', 'Director / Guionista', 'Animación', 'Contenido Audiovisual p/plataforma movil', 'Publicidad y Animación', 'post producc + est filmación', 'Productor de Cine', 'Producción 3D / Mapping', 'Estudio de Filmación / Alquileres de equipos', 'Contenido Audiovisual para web', 'Videojuegos', 'Equipos de sonido', 'Director', 'Escuela de sonido', 'cine', 'publicidad', 'Alquiler de equipos', 'Estudio de filmación', 'Proveedor de servicios', 'Videos institucionales', 'Animacion', 'Musica para peliculas', nan, 'Proveedor de equipos', 'Alquiler equipos', 'Televisión / Cine', 'Actriz', 'Televisión y cine']

In [31]:
filtro_tipos = ['Alquiler de Equipos','Laboratorio','Estudio de Filmación',
                'Estudio de Filmación / Alquileres de equipos','Equipos de sonido',
               'Alquiler de equipos','Estudio de filmación','Proveedor de equipos',
               'Alquiler equipos']
df_rubros =  dav[dav.rubro.isin(filtro_tipos)]

In [32]:
print('cantidad de valores: %i\n' % len(df_rubros))

cantidad de valores: 9

In [33]:
df_rubros.head(9)

,long,lat,id,nombre,rubro,telefono,e_mail,web,calle,altura,piso_dpto,cruce,barrio,comuna,codigo_postal,codigo_postal_argentino
8,-58.453761,-34.591755,9,Audiovisual Systems S.A. / AV Systems,Alquiler de Equipos,48546000,info@avsonline.com.ar,www.avsonline.com.ar,Jorge Newbery,4382,NaN,NaN,Chacarita,Comuna 15,1427.0,C1427EGW
24,-58.438029,-34.586905,25,Cinecolor Digital / Industrias Audiovisuales A...,Laboratorio,47771560,info@cinecolor.com.ar,www.cinecolor.com.ar,Humboldt,1440,NaN,NaN,Palermo,Comuna 14,1414.0,C1414CTL
33,-58.433572,-34.583776,35,Digital Televisión,Estudio de Filmación,47723003,hhernandez@digitaltelevision.com.ar,www.digitaltelevision.com.ar/,Costa Rica,5464,NaN,NaN,Palermo,Comuna 14,1414.0,C1414BTB
126,-58.446480,-34.584806,134,Babylon,Estudio de Filmación / Alquileres de equipos,47729713,info@estudiosbabylon.com.ar,www.estudiosbabylon.com.ar,charlone,81,NaN,NaN,Chacarita,Comuna 15,1427.0,C1427BXA
141,-58.467543,-34.600802,150,Equaphon,Equipos de sonido,45035750,eduardov@equaphon.net,www.equaphon.net,espinosa,2539,NaN,NaN,Paternal,Comuna 15,1416.0,C1416CFC
153,-58.442702,-34.582095,164,Audisea SRL,Alquiler de equipos,4703-5960,rcestudio@fibertel.com.ar,NaN,Cabrera,6047,6°A,NaN,Palermo,Comuna 14,1414.0,C1414BHM
161,-58.442527,-34.583053,173,Laboratorio Marte SRL,Estudio de filmación,1530752398,sabrinamacchi@gmail.com,NaN,Arevalo,1473,NaN,NaN,Palermo,Comuna 14,1414.0,C1414CQC
200,-58.471664,-34.599897,219,Panorama Sistemas Audiovisuales SRL,Proveedor de equipos,4583-4466,pablo@panoramaonline.com.ar,www.panoramaonline.com.ar,Espinosa,2797,NaN,NaN,Paternal,Comuna 15,1416.0,C1416CFG
205,-58.443088,-34.587268,86,"Monserrat, Juan Ignacio / Achi Monserrat",Alquiler equipos,1551234200,info@achmonserrat.com.ar,www.achimonserrat.com.ar,Castillo,1558,2°,NaN,Chacarita,Comuna 15,1414.0,C1414AXH

In [34]:
zonas.head()

,MOC_ZONAS_ID,PK_TIEMPO_ID,POBLACION_FLOTANTE,POBLACION_VIVIENTE,POBLACION_TRABAJADORA,CANTIDAD_HOGARES,PRECIO_PROMEDIO_ALQUILER_LOCAL,PRECIO_MAX_ALQUILER_LOCAL,PRECIO_MIN_ALQUILER_LOCAL,SUPERFICIE_M2_PROMEDIO_ALQUILER,SUPERFICIE_M2_MAX_ALQUILER,SUPERFICIE_M2_MIN_ALQUILER,RUBRO_PREDOMINANTE,FACTURACION_PROM_RUBRO_PREDOMINANTE,FACTURACION_PROM_RUBRO_MENOS_PREDOMINANTE,RUBRO_MENOS_PREDOMINANTE,PRECIO_PROMEDIO_VENTA_LOCAL,PRECIO_MAX_VENTA_LOCAL,PRECIO_MIN_VENTA_LOCAL,SUPERFICIE_M2_PROMEDIO_VENTA,SUPERFICIE_M2_MAX_VENTA,SUPERFICIE_M2_MIN_VENTA,NIVEL_LOCALES_RUBRO_PREDOMINANTE,NIVEL_LOCALES_RUBRO_MENOS_PREDOMINANTE,FECHA
0,1,591673,3,6726,3732,2465,58128.80,162999.60,26000.00,322.26,1809.50,123.10,RESTAURANTES,5,1,HELADERIAS,1144213.52,2800000.0,25000.0,4918.06,7857.1,2720.6,1,1,2017-07-01 00:00:00.000
1,2,591673,5,589,348,255,34854.58,47068.93,20401.40,167.54,188.28,145.72,COMIDA AL PASO,5,1,VETERINARIA,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2017-07-01 00:00:00.000
2,3,591673,2,10764,5967,3622,10606.00,13311.99,7900.00,120.67,162.34,79.00,INDUMENTARIA,5,1,INSTITUCIONES DEPORTIVAS,273333.33,550000.0,60000.0,1662.77,2200.0,1166.7,1,1,2017-07-01 00:00:00.000
3,4,591673,2,6690,3927,2379,25500.53,150000.00,6436.93,154.71,321.85,92.00,INDUMENTARIA,5,2,VETERINARIA,286636.36,530000.0,90000.0,1416.98,2323.2,679.5,1,1,2017-07-01 00:00:00.000
4,5,591673,5,623,246,154,28014.00,28014.00,28014.00,304.50,304.50,304.50,INDUMENTARIA,5,5,INSTITUCIONES DEPORTIVAS,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2017-07-01 00:00:00.000

In [35]:
fechas = list(zonas["FECHA"].unique())
print('fecha de información: %s\n' % fechas)

print('cantidad de valores: %i\n' % len(zonas))

fecha de información: ['2017-07-01 00:00:00.000']

cantidad de valores: 161

In [36]:
rubro_pred = list(zonas["RUBRO_PREDOMINANTE"].unique())
print(rubro_pred)

['RESTAURANTES', 'COMIDA AL PASO', 'INDUMENTARIA', 'MUSICA Y LIBRERIA', 'FERRETERIA Y CONSTRUCCION', 'SALUD Y COSMETICA', 'OPTICA Y JOYERIAS', 'KIOSCOS Y LOTERIAS', 'SUPERMERCADOS Y ALMACENES']

In [37]:
filtro_tipos = ['FERRETERIA Y CONSTRUCCION']
construccion =  zonas[zonas.RUBRO_PREDOMINANTE.isin(filtro_tipos)]

In [38]:
construccion.head(100)

,MOC_ZONAS_ID,PK_TIEMPO_ID,POBLACION_FLOTANTE,POBLACION_VIVIENTE,POBLACION_TRABAJADORA,CANTIDAD_HOGARES,PRECIO_PROMEDIO_ALQUILER_LOCAL,PRECIO_MAX_ALQUILER_LOCAL,PRECIO_MIN_ALQUILER_LOCAL,SUPERFICIE_M2_PROMEDIO_ALQUILER,SUPERFICIE_M2_MAX_ALQUILER,SUPERFICIE_M2_MIN_ALQUILER,RUBRO_PREDOMINANTE,FACTURACION_PROM_RUBRO_PREDOMINANTE,FACTURACION_PROM_RUBRO_MENOS_PREDOMINANTE,RUBRO_MENOS_PREDOMINANTE,PRECIO_PROMEDIO_VENTA_LOCAL,PRECIO_MAX_VENTA_LOCAL,PRECIO_MIN_VENTA_LOCAL,SUPERFICIE_M2_PROMEDIO_VENTA,SUPERFICIE_M2_MAX_VENTA,SUPERFICIE_M2_MIN_VENTA,NIVEL_LOCALES_RUBRO_PREDOMINANTE,NIVEL_LOCALES_RUBRO_MENOS_PREDOMINANTE,FECHA
11,12,591673,2,9830,5593,3493,56925.15,120000.0,4200.0,191.37,460.90,80.0,FERRETERIA Y CONSTRUCCION,5,1,INSTITUCIONES DEPORTIVAS,439545.45,1100000.0,125000.0,2424.77,12790.70,538.50,1,1,2017-07-01 00:00:00.000
37,38,591673,1,19457,9415,5672,NaN,NaN,NaN,NaN,NaN,NaN,FERRETERIA Y CONSTRUCCION,5,1,CARNES Y VERDURAS,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2017-07-01 00:00:00.000
80,81,591673,2,9492,5427,3542,11717.60,29000.0,5000.0,221.84,413.71,127.8,FERRETERIA Y CONSTRUCCION,5,1,INSTITUCIONES DEPORTIVAS,151125.00,420000.0,70000.0,2576.14,5500.00,1033.00,1,1,2017-07-01 00:00:00.000
92,93,591673,1,8577,4660,3023,19880.00,30000.0,4500.0,156.84,213.00,107.1,FERRETERIA Y CONSTRUCCION,5,1,RESTAURANTES,406966.67,1100000.0,59000.0,1943.51,2095.24,1768.60,1,2,2017-07-01 00:00:00.000
135,136,591673,1,4420,2527,1742,13111.51,28000.0,3800.0,246.04,866.34,111.1,FERRETERIA Y CONSTRUCCION,5,1,COMIDA AL PASO,116333.33,250000.0,37000.0,1510.10,2480.00,816.99,1,1,2017-07-01 00:00:00.000

In [39]:
moc_zonas_id = list(zonas["MOC_ZONAS_ID"].unique())
print(moc_zonas_id)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161]

In [40]:
rubros.head()

,MOC_RUBROS_ID,MOC_ZONAS_ID,RUBRO,NIVEL_RIESGO,FACTURACION_PROM_ACTUAL,INDICE_CRECIMIENTO,INDICE_ESTABILIDAD,INDICE_APERTURA,INDICE_CIERRE,INDICE_SUPERVIVENCIA,IND_AP_ACT_VS_IND_AP_ANIO_ANT,IND_CL_ACT_VS_IND_CL_ANIO_ANT,SUP_MENOS_1,SUP_ENTRE_1_Y_2,SUP_ENTRE_2_Y_3,SUP_ENTRE_3_Y_4,SUP_ENTRE_4_Y_5,SUP_MAS_5,FACTURACION_PROM_ANIO_ANT,NIVEL_LOCALES,INDICE_CIERRE_ANIO_ANT,INDICE_APERTURA_ANIO_ANT
0,1,1,INSUMOS PARA EL HOGAR,5.0,1.0,3.0,1.0,0.0,16.67,0.0,-100.0,0.0,0.0,10.00,45.00,15.00,0.00,30.00,2.0,1.0,16.67,16.67
1,2,2,INSUMOS PARA EL HOGAR,NaN,NaN,NaN,NaN,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3,INSUMOS PARA EL HOGAR,1.0,4.0,4.0,2.0,0.0,0.00,100.0,-100.0,NaN,0.0,18.18,27.27,27.27,27.27,0.00,4.0,1.0,NaN,33.33
3,4,4,INSUMOS PARA EL HOGAR,1.0,2.0,4.0,4.0,0.0,0.00,100.0,NaN,NaN,0.0,0.00,0.00,14.29,0.00,85.71,3.0,1.0,NaN,NaN
4,5,5,INSUMOS PARA EL HOGAR,NaN,NaN,NaN,NaN,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
demo.head()

,MOC_DEMOGRAFIA_ID,MOC_ZONAS_ID,PK_RANGO_ETARIO_ID,PK_GENERO_ID,POBLACION_VIVIENTE,POBLACION_TRABAJADORA,RANGO_ETARIO,GENERO
0,1,1,6,0,504,374,[60-INF),H
1,2,1,1,0,338,61,[10-20),H
2,3,1,2,1,607,370,[20-30),M
3,4,1,0,0,478,0,[0-10),H
4,5,1,5,0,417,351,[50-60),H

In [42]:
sc.head()

                                                 WKT  ID  SECCION_
0  MULTIPOLYGON (((95565.9769911374 100552.618095...   1        93
1  MULTIPOLYGON (((94335.6197305967 101696.347468...   2        87
2  MULTIPOLYGON (((94335.6197305967 101696.347468...   3        89
3  MULTIPOLYGON (((95565.9769911374 100552.618095...   4        91
4  MULTIPOLYGON (((95615.4988234395 98342.6069136...   5        72

In [43]:
SECCION_id = list(sc["ID"].unique())
print(SECCION_id)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94]

In [44]:
multypoligons = sc['WKT']

In [45]:
filtro_tipos = ['12','38','81','93','136']
id12 =  sc[sc.SECCION_.isin(filtro_tipos)]

In [46]:
id12

                                                  WKT  ID  SECCION_
0   MULTIPOLYGON (((95565.9769911374 100552.618095...   1        93
7   MULTIPOLYGON (((95461.1174191915 102528.696226...   8        81
54  MULTIPOLYGON (((102567.809711311 99415.4902200...  55        38
68  MULTIPOLYGON (((106544.042441989 102213.944848...  69        12

In [47]:
ap.head()

  RUBRO;MOC_ZONAS_ID;AÑO;CUATRIMESTRE;NIVEL
0                BARES Y CAFES;161;2016;3;1
1               COMIDA AL PASO;161;2016;2;1
2    FERRETERIA Y CONSTRUCCION;161;2016;1;1
3    FERRETERIA Y CONSTRUCCION;161;2016;2;1
4    FERRETERIA Y CONSTRUCCION;161;2016;3;1

In [48]:
rubros_zonas = construccion.MOC_ZONAS_ID
sc['id_zona'] = rubros_zonas